<footer class="footer">
  
    <div class="General inquires">
          <ul>
      <h3 style="color: white;">Clock+</h3>
      <h3 style="color: white;">S3561128 - S3561128@student.rmit.edu.au</h3>
      <h3 style="color: white;">HD</h3>
      </ul>
    </div>
    
    <div class="maintext">
      <ul>
        <h3 style="color: white;">Share Social</h3>
          <li  ><a href="https://www.facebook.com/RMITuniversity/", class="btn btn-sml"> <i class="fab fa-facebook-square"></i> Facebook</a></li>
          <li ><a href="https://www.twitter.com/RMIT", class="btn btn-sml"><i class="fab fa-twitter-square"></i> Twitter</a></li>
          <li ><a href="https://www.youtube.com/user/rmitmedia", class="btn btn-sml"> <i class="fab fa-twitter-square"></i> Youtube</a></li>
      </ul>
    </div>
</footer>