  <div class="container">
    <%= link_to "Clock+", '#', id: "logo"%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li style="color: black; font-weight: bold;" class="btn btn-success"><%= link_to "Showcase",   root_path %></li>
        <li class="btn btn-light mr-2"><%= link_to "Contact Us", '#' %></li>
      </ul>
    </nav>
  </div>